 
.FeedLogo{
    display: flex;
    border-radius: 5px;
    height: 65px;
    width: 100%;
    justify-content: center;
}


.feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.feed-container-container{
    background-color: rgb(228, 231, 234);
    flex-direction: column;
    display: flex;
    width: 50%;
    align-items: center;
}



@media only screen and (max-width: 600px){
    .feed-container-container{
        flex-direction: column;
        display: flex;
        width: 98%;
        align-items: center;
    }

    .FeedLogo{
        height: 57px;
    }

    .FeedLogo img{
        height: 35px;
        width: 180px;
    }

    .Feed-btn{
        margin-left: 10px;
        height: 30px;
    }
    /* .posts{
        width: 298px;
    } */
}

