.FeedLogo{
    display: flex;
    margin-top: 1px;
    margin-left: 2px;
    height: 46px;
    width: 100%;
    justify-content: center;
}

.FeedLogo img{
    margin-top: 5px;
    height: 40px;
    width: 200px;
}

.Feed-btn{
    margin-left: 10px;
    margin-top: 5px;
    height: 35px;
}

.feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-container-container{
    flex-direction: column;
    display: flex;
    width: 50%;
    align-items: center;
}

@media only screen and (max-width: 600px){
    .feed-container-container{
        flex-direction: column;
        display: flex;
        width: 95%;
        align-items: center;
    }

    .FeedLogo img{
        height: 35px;
        width: 180px;
        /* margin-left: 25%; */
    }

    .Feed-btn{
        margin-left: 10px;
        margin-top: 5px;
        height: 30px;
    }
}