.SignUpWrapper{
    display: flex;
    justify-content: center;
    position: relative;
}
.SignUpCard{
    position: fixed;
    top: 20%;
    width: 25%;
}
.SignUpImg{
    display: flex;
    justify-content: center;
}
.SignUpImg img{
    margin-top: 5px;
    margin-left: 5px;
   width: 200px;
   height: 40px;
   object-fit: fill;
}
.SignUpMsg{
    margin: 3px;
    text-align: center;
    color: gray;
}

.SignUpTerms{
    color: gray;
    margin: 4px;
    font-size: small;
    text-align: center;
}
.AlreadyAcc{
    margin-top: 10px;
    
}
.AlreadyAcc div{
    /* margin-left: 5px; */
    font-size: 15px;
    color: black;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .SignUpCard{
        position: fixed;
        top: 10%;
        width: 80%;
    }
    .SignUpTerms{
        color: gray;
        margin: 1px;
        font-size: small;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
    .SignUpCard{
        position: fixed;
        top: 10%;
        width: 40%;
    }
    .SignUpTerms{
        color: gray;
        margin: 2px;
        font-size: small;
        text-align: center;
    }
}